.content {
  display: grid;
  margin-bottom: 4rem;
  grid-template-columns: 1.1fr 0.9fr 0.7fr;
}

.content__text h1 {
  font-size: 2rem;
}

.content__text p, h1 {
  margin: 2rem;
}

.content__reg-form {
  margin: 1rem;
}

.content__image img {
  width: 800px;
}

/* Media */

@media (max-width: 1788px) {
  .content__text p, h1 {
    margin: 1.5rem;
  }
  .content__image img {
    width: 600px;

  }
}

@media (max-width: 1588px) {
  .content__image img {
    width: 450px;
  }
}

@media (max-width: 1388px) {
  .content__text p, h1 {
    margin: 1.2rem;
  }
  .content__image img {
    width: 400px;
  }
}

@media (max-width: 1288px) {
  .content {
    grid-template-columns: 1.1fr 0.7fr;
  }
  .content__text h1 {
    font-size: 2rem;
  }
  .content__text p, h1 {
    margin: 1.2rem;
  }
  .content__image img {
    display: none;
  }
}

@media (max-width: 988px) {
  .content__text h1 {
    font-size: 1.7rem;
  }
  .content__text p, h1 {
    margin: 1rem;
  }
}

@media (max-width: 788px) {
  .content {
    display: inline-block;
    margin-bottom: 2rem;
  }
  .text__unimportant {
    display: none;
  }
  .content__text h1 {
    margin: 2.5rem 1.5rem 1.5rem 1.6rem;
  }
  .content__text p {
    margin: 1.5rem;
  }
  .content__text h1 {
    font-size: 1.5rem;
  }
}

@media (max-width: 488px) {
  .content__text p {
    margin: 0.7rem 1.5rem 0.5rem;
  }
  .content__text h1 {
    margin: 1.5rem 1.6rem 0.7rem;

    font-size: 1.3rem;
  }
}

@media (max-width: 488px) {
  .content__text h1 {
    font-size: 1.2rem;
  }
}