.form {
  height: 100%;
  padding: 0.5rem;
}

.form__fieldset {
  width: 208px;
  margin: 0;
}

.form__input {
  display: block;
  width: 200px;
  height: 25px;
  margin: 0.3rem 0;
}

.form__btn {
  display: block;
  width: 234px;
  margin-top: 0.3rem;
  padding: 0.3rem 1rem;

  border: 1px solid #c2c2c2;
}

.form__btn:hover {
  cursor: pointer;
}

.checkbox {
  margin: 0 0.3rem 0 0;
}