.header {
  display: grid;
  grid-template-columns: 1fr 5fr 1.5fr;
  width: 100%;
  min-height: 3.5rem;
  padding: 0.5rem;

  background-color: #F8F8F8;
  border-bottom: 1px solid #E7E7E7;
}

.header__logo {
  margin-left: 0.5rem;
  padding: 0.5rem 0;

  color: #F8F8F8;
  text-align: center;
  align-self: center;

  background-color: #fdabab;
  cursor: pointer;
}


/* Media */

@media (max-width: 1288px) {
  .header {
    grid-template-columns: 5fr 1.5fr;
  }
  .header__logo {
    display: none;
  }
}

@media (max-width: 988px) {
  .header {
    grid-template-columns: 1fr;
  }
}