html { 
  font-size: 18px; 
}

body { 
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

@media (max-width: 1588px) {
  html { 
    font-size: 17px; 
  }
}

@media (max-width: 1388px) {
  html { 
    font-size: 16px; 
  }
}

@media (max-width: 988px) {
  html { 
    font-size: 15px; 
  }
}